---
Tuple Data Structure

In [2]:
## creating a tuple

empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [ ]:
## List
lst = list()
print((type(lst)))

## Tuple
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [ ]:
## converting List ---> Tuple

numbers = tuple([1, 2, 3, 4, 5, 6])
numbers

(1, 2, 3, 4, 5, 6)

In [7]:
## converting Tuple ---> List

numbers = list((1, 2, 3, 4, 5, 6))
numbers

[1, 2, 3, 4, 5, 6]

In [8]:
## creating a mixed tuple

mixed_tuple = (1, "Hello World", 3.14, True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [ ]:
## Accessing Tuple Elements

numbers = tuple([1, 2, 3, 4, 5, 6])

print(numbers[2])
print(numbers[-1])

3
6

In [14]:
numbers[0:4]

(1, 2, 3, 4)

In [15]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [16]:
## Tuple Operations

concatenation_tuple = numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [17]:
mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [22]:
## Immutable Nature of Tuples
## Tuples are immutable, meaning their elements cannot be changed once assigned

lst = [1,2,3,4,5]
print("Original List:",lst)

lst[1] = "Parth"
print("Modified List:",lst)

tpl = (1,2,3,4,5)
print("Original Tuple:",tpl)

tpl[1] = "Parth"
print("Modified Tuple:",tpl)

Original List: [1, 2, 3, 4, 5]
Modified List: [1, 'Parth', 3, 4, 5]
Original Tuple: (1, 2, 3, 4, 5)

TypeError: 'tuple' object does not support item assignment

In [25]:
## Tuple Methods

numbers = (1,2,3,4,5,6)

print(numbers.count(1))
print(numbers.index(3))

1
2

In [ ]:
## Packing and Unpacking tuple
## If we write values by comma separation in this way they are packed inside a tuple

packed_tuple = 1, "Hello", 3.14 
print(packed_tuple)

(1, 'Hello', 3.14)

In [29]:
## Unpacking a tuple

a,b,c = packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.14

In [ ]:
## Unpacking with *

numbers = (1,2,3,4,5,6)

first, *middle, last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [ ]:
## Nested List

lst = [[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]

print(lst[0])
print(lst[0][2])
print(lst[0][0:3])

[1, 2, 3, 4]
3
[1, 2, 3]

In [41]:
lst = [[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]

print(lst[2])
print(lst[2][2])
print(lst[2][0:3])

(1, 'Hello', 3.14, 'c')
3.14
(1, 'Hello', 3.14)

In [44]:
## Nested Tuple

nested_tuple = ((1,2,3),("a","b","c"),(True, False))

## access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [ ]:
## iterating over nested tuples

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item, end=" ")
    print()

1 2 3
a b c
True False