---
# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples

---
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [2]:
tpl = tuple(range(1,11))
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

---
### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [14]:
print("first element:",tpl[0])
print("middle element:",tpl[len(tpl) // 2])
print("last element:",tpl[-1])

first element: 1
middle element: 6
last element: 10

---
### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [16]:
print("first three elements:",tpl[:3])
print("last three elements:",tpl[7:])
print("elements from index 2 to 5:",tpl[2:6])

first three elements: (1, 2, 3)
last three elements: (8, 9, 10)
elements from index 2 to 5: (3, 4, 5, 6)

---
### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [ ]:
matrix = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print("Matrix:")
for row in matrix:
    print(row)
    
print(matrix[1][2])

Matrix:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
6

---
### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [20]:
tpl1 = (1,2,3)
tpl2 = (4,5,6)

print(tpl1 + tpl2)

(1, 2, 3, 4, 5, 6)

---

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [26]:
duplicate_tpl = (1,2,3,3,4,7,4,5,6,7,7)

print(duplicate_tpl.count(2))
print(duplicate_tpl.count(3))

print(duplicate_tpl.index(7))

1
2
5

---
### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [30]:
unpack_tpl = (1,2,3,4,5)

a,b,c,d,e = unpack_tpl

print("a:",a)
print("b:",b)
print("c:",c)
print("d:",d)
print("e:",e)

a: 1
b: 2
c: 3
d: 4
e: 5

---
### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [31]:
lst = [1,2,3,4,5]
tpl = tuple(lst)
print(tpl)

(1, 2, 3, 4, 5)

---
### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [33]:
Tuple_tpl = ((1,2,3), (4,5,6), (7,8,9))

print(Tuple_tpl)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

---
### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [34]:
tpl = tuple(range(1,6))

lst = list(tpl)
lst.append(6)

tpl = tuple(lst)
print(tpl)

(1, 2, 3, 4, 5, 6)

---
### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [39]:
char_tpl = ("P", "a", "r", "t", "h")
tpl_string = ''.join(char_tpl)
print(tpl_string)

Parth

---
### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [44]:
dict_tpl = {
    ('one'):'1',
    ('two'):'2',
    ('three'):'3',
    ('four'):'4',
    ('five'):'5',
}

print(dict_tpl)

{'one': '1', 'two': '2', 'three': '3', 'four': '4', 'five': '5'}

---
### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [47]:
nested_tpl = ((1,2,3),(4,5,6),(7,8,9))

for sub_tpl in nested_tpl:
    for item in sub_tpl:
        print(item)

1
2
3
4
5
6
7
8
9

---
### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [49]:
tpl = (1,1,1,2,3,4,4,5,6,7,7)
set_tpl = set(tpl)
print(set_tpl)

{1, 2, 3, 4, 5, 6, 7}

---
### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [55]:
tpl = (range(1,6))
sum = 0
print("Minimum:",min(tpl))
print("Maxmium:",max(tpl))

for num in tpl:
    sum += num

print("Sum:",sum)

Minimum: 1
Maxmium: 5
Sum: 15